<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><p>Id: {{hero.id}}</p></div>
  <div>
    <label for="hero-name">Hero Name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
  </div>
  <br>
  <div><p>Description: {{hero.description |uppercase}}</p></div>
  <p>Image: <img src={{hero.image}}></p><br>

  <!--Adding hero description-->
  <div>
    <label for="hero-description">Hero description: </label>
    <input id="hero-description" [(ngModel)]="hero.description" placeholder="description">
  </div>
<div>
  <button type="button" (click)="goBack()">go back</button>
  <button type="button" (click)="save()">save</button>
</div>
</div>
