<div class="title">
  <h1>{{title}}</h1>
  <div class="dark">
    <button (click)="toggleDarkTheme()"><fa-icon [icon]="faMoon"></fa-icon></button>
  </div>
</div>
<nav class="flex  p-4 bg-purple-800 text-white">
  <li>
    <a routerLink="/dashboard" style="text-decoration:none;">Dashboard</a>
  </li>
  <li>
    <a routerLink="/heroes" style="text-decoration:none;">Heroes</a>
  </li>
  <li>
    <a routerLink="/login">Login</a>
  </li>
  <li>
    <a routerLink="/register">Register</a>
  </li>
</nav>
<div class=" p-4">
  <router-outlet></router-outlet>
  <app-messages></app-messages>
</div>

