<h2>My Heroes</h2>
<div>
  <p>
    <label for="new-hero">Hero name: </label>
    <input id="new-hero" #heroName />
  </p>

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">
    Add hero
  </button>
</div>

<ng-container *ngIf="isShowing">
  <ul class="heroes">
    <ng-container *ngFor="let hero of heroes">
      <li>
        <a routerLink="/detail/{{hero.id}}">
          <span class="badge">{{hero.id}}</span> {{hero.name | titlecase}}
        </a>
        <button type="button" class="delete" title="delete hero" (click)="delete(hero)">x</button>
      </li>
    </ng-container>
  </ul>
</ng-container>

<!-- 顯示英雄 -->
<button type="button" (click)="isShowing = !isShowing">
  <span *ngIf="!isShowing">Show Heroes</span>
  <span *ngIf="isShowing">Hide Heroes</span>
</button>
